<h1 class="customHeader" align="center"><%= @good.name %><h1>
	<div class="borderedDiv plaintext" align="center">
		<div>
			<b>Price:</b>
			<%= @good.price%>
		</div>
	
		<div>
			<b>Amount in the stock:</b>
			<%= @good.stock%>
		</div>
	
		<div style="padding-top: 15pt;">
			<div style="padding-top: 15pt; display: inline;">
				<%= link_to "<button class='customBtn'>Edit product</button>".html_safe, edit_good_path, :id=>"edit-product-form-btn" %>
			</div>
			<div style="padding-top: 15pt; display: inline;">
				<%= link_to "<button class='customBtn'>Delete product</button>".html_safe, good_path(@good), method: :delete, data: {confirm: 'Are you sure?'}, :id=>"delete-product-form-btn" %>
			</div>
			<div style="padding-top: 15pt; display: inline;">
				<%= link_to "<button class='customBtn'>Go back to catalog</button>".html_safe, goods_path, :id=>"open-catalog-btn" %>
			</div>
		</div>
	</div>
	
	
	
	