<h1 class="customHeader" align="center">Product catalog</h1>

<div class="borderedDiv" align="center"> 
	<div> 
		<table class="plaintext">
			<tr>
				<th style="padding: 2pt 0pt 3pt 10pt;">Name of the product</th>
				<th style="padding: 2pt 0pt 3pt 10pt;">Price</th>
				<th style="padding: 2pt 0pt 3pt 10pt;">Amount in the stock</th>
				<th style="padding: 2pt 0pt 3pt 10pt;"/>
			</tr>
 
			<% @goods.each do |good| %>
				<tr>
					<td style="padding: 2pt 0pt 3pt 10pt;"><%= link_to good.name, good_path(good), class: 'goodsLink' %></td>
					<td style="padding: 2pt 0pt 3pt 10pt;"><%= good.price %></td>
					<td style="padding: 2pt 0pt 3pt 10pt;"><%= good.stock %></td>
					<td style="padding: 2pt 0pt 3pt 10pt;">Add to chart</td>
				</tr>
			<% end %>
			<% if @goods.size == 0%>
				<em class="plaintext"> No products in the catalog</em>
			<% end %>
		</table>
	</div>
	<div id="pagination" style="padding-top: 15pt;">
		<%= will_paginate(@users) %>
	</div>
	
	<div style="padding-top: 15pt;">
		<div style="padding-top: 15pt; display: inline;">
			<%= link_to "<button class='customBtn'>Add new product</button>".html_safe, new_good_path, :id=>"open-new-product-form-btn" %>
		</div>
		<div style="padding-top: 15pt; display: inline;">
			<%= link_to "<button class='customBtn'>Sort by name</button>".html_safe, goods_path(sorting_param: 'name'), method: :get, :id=>"sort-products-byname-btn" %>
		</div>
		<div style="padding-top: 15pt; display: inline;">
				<%= link_to "<button class='customBtn'>Sort by price</button>".html_safe, goods_path(sorting_param: 'price'), method: :get, :id=>"sort-products-byprice-btn" %>
		</div>
	</div>
	
	<div style="padding-top: 15pt; width: 50%;">
		<div class="plaintext" style="display: inline;" id="data1"></div>
		<div class="plaintext" style="display: inline;" id="data2"></div>
		<div id="the_slider"></div>
	</div>

</div>