<!-- Hidden fields to store maximum and minimum prices in the catalog.
Thus the price rage would automatically set up them as min and max -->
<div style="display: none;" id="minPV"><%= min_products_price %></div>
<div style="display: none;" id="maxPV"><%= max_products_price %></div>

<div align="center">
  <h1 class="header" align="center">Products<h1>
  <div class="row text-center form-group-lg-margin">

    <div>
    <%= form_for :product, url: search_path, method: "get" do |f| %>
      <div class="row">
        <div class="col-2">
          <%= f.text_field :product_name, class: 'form-control', placeholder: 'Search for...' %>
        </div>
        <div class="col-4">
          <div class="input-group">
            <%= f.text_field :price_min, class: 'form-control', placeholder: "Min price: #{min_products_price}" %>
            <span class="input-group-text"> - </span>
            <%= f.text_field :price_max, class: 'form-control', placeholder: "Max price: #{max_products_price}" %>
          </div>
        </div>
        <div class="col-3">
          <%= select_tag "sorting_options", options_for_select([['Sort by name', 'name'], ['Sort by price', 'price'], ['None', '']], "Sort by name"), class: 'form-select' %>
        </div>
        <div class="col-1">
          <%= submit_tag("Search", class: 'btn btn-primary custom-btn top-alignment' )%>
        </div>
        <div class="col-2">
          <%= link_to "<button class='btn btn-primary custom-btn top-alignment'>Show all</button>".html_safe, products_path, method: :get, :id=>"show-all-productsbtn" %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
    <!-- If there are no products in the catalog or no product found, that respond to the query -->
    <% if @products.size == 0%>
              <en class="plaintext"> No products in the catalog</em>
    <% else %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" class="text-center table-header">Product</th>
            <th scope="col" class="text-center table-header">Price</th>
            <th scope="col" class="text-center table-header">Stock</th>
            <th scope="col" class="text-center table-header">Purchase amount</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <th scope="row" class="plaintext align-middle text-center">
                <%= link_to product.name, product_path(product), class: 'custom-link'%>
              </th>
              <td class="plaintext align-middle text-center"><%= product.price %></td>
              <td class="plaintext align-middle text-center"><%= product.stock%></td>
              <%= form_for @item do |f| %>
                <td class="align-bottom">
                  <%= f.number_field :amount, value: 1, class: 'form-control col-sm', min: 1 %>
                </td>
                <td class="align-bottom">
                  <%= f.hidden_field :product_id, value: product.id %>
                  <% if product.stock >= 1 %>
                    <%= f.submit "Add to Cart", class: "btn btn-primary custom-btn", :disabled => false %>
                  <% end %>
                  <% if product.stock < 1 %>
                    <%= f.submit "Add to Cart", class: "btn btn-primary custom-btn custom-btn-disabled", :disabled => true %>
                  <% end %>
                </td>
              <% end %>
          <% end %>
        </tbody>
      </table>
      <div id="pagination" style="padding-top: 15pt;">
        <%= will_paginate(@products) %>
      </div>
    <% end %>
  </div>
</div>