<h1 class="customHeader" align="center">Product catalog</h1>

<div class="borderedDiv" align="center"> 
	<div> 
		<table class="plaintext">
			<tr>
				<th style="padding: 2pt 0pt 3pt 10pt;">Name of the product</th>
				<th style="padding: 2pt 0pt 3pt 10pt;">Price</th>
				<th style="padding: 2pt 0pt 3pt 10pt;">Amount in the stock</th>
				<th style="padding: 2pt 0pt 3pt 10pt;"/>
			</tr>
 
			<% @products.each do |product| %>
				<tr>
					<td style="padding: 2pt 0pt 3pt 10pt;"><%= link_to product.name, product_path(product), class: 'productsLink' %></td>
					<td style="padding: 2pt 0pt 3pt 10pt;"><%= product.price %></td>
					<td style="padding: 2pt 0pt 3pt 10pt;"><%= product.stock %></td>
					<td style="padding: 2pt 0pt 3pt 10pt;">Add to chart</td>
				</tr>
			<% end %>
			<% if @products.size == 0%>
				<em class="plaintext"> No products in the catalog</em>
			<% end %>
		</table>
	</div>
	<div id="pagination" style="padding-top: 15pt;">
		<%= will_paginate(@users) %>
	</div>

	<div style="padding-top: 15pt;">
		<div style="display: inline;">
          <%= link_to "<button class='search addSpaceBefore'>Show all</button>".html_safe, products_path, method: :get, :id=>"show-all-productsbtn" %>
        </div>
	</div>
	
	<div style="padding-top: 15pt; width: 50%;">
		<div class="plaintext" style="display: inline;" id="data1"></div>
		<div class="plaintext" style="display: inline;" id="data2"></div>
		<div id="the_slider"></div>
	</div>

</div>