<!DOCTYPE html>
<html>
  <head>
    <title>Webshop</title>
	<meta content="text/html;charset=UTF-8" http-equiv="Content-Type"/>
	<meta content="UTF-8" http-equiv="encoding"/>
	<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body style="overflow-x: none; overflow-y: scroll;">
	<%= render 'home/header' %>

	<div class="container-fluid container-padding">
	  <div class="main-content-margin">
	    <%= yield %>
	  </div>
	</div>

	<%= render 'home/footer' %>
  </body>
</html>
